version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" 
    schedule:
      interval: "daily" 
    allow:
      - dependency-name: "google-libphonenumber" 
    target-branch: "main"
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 5